<h4>{{ 'filter'|trans }}</h4>
<form method="get">
    <div class="filter-fields">
        <div class="form-group">
            <label for="search_id">
                {{ 'id'|trans }}
                {% if villumi %}
                    <i class="fa fa-info-circle" title="{{ 'wixmp_id'|trans }}" aria-hidden="true"></i>
                {% endif %}
            </label>
            <input type="text" class="form-control" id="search_id" name="payout_id" value="{% if search.payout_id is defined %}{{ search.payout_id }}{% endif %}">
        </div>
        {% if area == 'A' or area == 'admin' %}
            <div class="form-group">
                {% if villumi %}
                    {% include 'common/select_combo_box.html.twig'  with {data: {params:search,name:'seller_id',label:'seller',options:getWixCompanySellerList(),ajax:true, text:'seller', tooltip: 'wixmp_seller'|trans }} %}
                {% else %}
                    {% include 'common/select_combo_box.html.twig'  with {data: {params:search,name:'seller_id',label:'seller',options:getWixCompanySellerList(),ajax:true, text:'seller'}} %}
                {% endif %}
            </div>
        {% endif %}    
        <div class="form-group">
            {% if villumi %}
                {% include 'common/select_combo_box.html.twig'  with {data: {params:search,name:'payout_type',label:'type',options:[{id:"O",text: "order_placement"},{id:"W",text: "withdraw"},{id:"P",text: "payout"}], tooltip: 'wixmp_type'|trans }} %}
            {% else %}
                {% include 'common/select_combo_box.html.twig'  with {data: {params:search,name:'payout_type',label:'type',options:[{id:"O",text: "order_placement"},{id:"W",text: "withdraw"},{id:"P",text: "payout"}]}} %}
            {% endif %}
        </div>        
        <div class="form-group">
            {% if villumi %}
                {% include 'common/select_combo_box.html.twig'  with {data: {params:search,name:'status',label:'status',options:[{id:"A",text: "approved"},{id:"D",text: "declined"},{id:"P",text: "pending"}, {id:"I",text: "payment_initiated"}, {id:"X",text: "payment_cancel"}, {id:"C",text: "complete"}], tooltip: 'wixmp_status'|trans }} %}
            {% else %}
                {% include 'common/select_combo_box.html.twig'  with {data: {params:search,name:'status',label:'status',options:[{id:"A",text: "approved"},{id:"D",text: "declined"},{id:"P",text: "pending"}, {id:"I",text: "payment_initiated"}, {id:"X",text: "payment_cancel"}, {id:"C",text: "complete"}]}} %}
            {% endif %}
        </div>    
    </div>
    {# <div class="form-group">
        {% include 'common/date_range_box.html.twig'  with {
            data: {
                to_name       : 'end_date',
                from_name     : 'start_date',
                selected_to   : "now"|date('Y-m-d'),
                selected_from : "now"|date('Y-m-d')
            }
        } %}    
    </div><br><br>
     #}
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="transaction_id">
                    {{ 'created_start_date'|trans }}
                    {% if villumi %}
                        <i class="fa fa-info-circle" title="{{ 'wixmp_created_start_date'|trans }}" aria-hidden="true"></i>
                    {% endif %}
                </label>
                <input type="text" class="form-control wix_end_date" value="{% if search['start_date'] is defined %}{{ search['start_date'] }}{% endif %}" name="start_date">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="transaction_id">
                    {{ 'created_end_date'|trans }}
                    {% if villumi %}
                        <i class="fa fa-info-circle" title="{{ 'wixmp_created_end_date'|trans }}" aria-hidden="true"></i>
                    {% endif %}
                </label>
                <input type="text" class="form-control wix_end_date" value="{% if search['end_date'] is defined %}{{ search['end_date'] }}{% endif %}" name="end_date">
            </div>
        </div>
    </div>
    <div class="filter-btn-block">
        <button type="submit" class="btn btn-primary">{{ 'submit'|trans }}</button>
        <button type="button" class="btn btn-danger btn-clear">{{ 'search.clear'|trans }}</button>
        <button type="button" class="btn btn-secondary filter-close">{{ 'cancel'|trans }}</button>
    </div>
</form>