{% set sadmin_currency = get_currency('app', storeHash) %}
{% for key,plan in plan_list %}
    {% if current_plan.id == plan.id or plan.status == 'A' %}
        {% set row_change = (key+1)%3 %}
        {% if row_change == '1' %}
            <div class="row list-{{ row_change }}" style="padding:10px 0px">
        {% endif %}
        {# {% if plan.conditions['commission_type'] is defined and plan.conditions['commission_type'] == "commission_per_category" %}
            {% set conditionsArr = unset(plan.conditions, "commission") %} 
        {% endif %} #}
        <div class="col-sm-4" style="margin:0 auto">
            <div class="card profile-plan-list-plan" style="{% if current_plan and current_plan.id == plan.id %}border: 2px solid gray{% endif %}">
                <div class="card-header text-center bg-default">
                    <h5 class="profile-plan-list-plan-name">{{ plan.plan }}</h5>
                    <p class="text-primary"><b>{% if plan.price %}{{ sadmin_currency.symbol ~ ' ' ~ plan.price }}{% else %}<span class="profile-plan-list-plan-price">{{ 'free'|trans }}</span>{% endif %} / <span>{% if plan.intervalType == 'D' %}{{ plan.intervalValue }} {{ "days"|trans }}{% elseif plan.intervalType == 'W' %}{{ "week"|trans }}{% elseif plan.intervalType == 'M' %}{{ "monthly"|trans }}{% elseif plan.intervalType == 'Q' %}{{ "quarterly"|trans }}{% elseif plan.intervalType == 'H' %}{{ "half-yearly"|trans }}{% elseif plan.intervalType == 'Y' %}{{ "year"|trans }}{% endif %} </span></b></p>
                    {% if plan.bestChoice == 'Y' %}<span class="plan_best_choice">{{ "best_choice"|trans }}</span>{% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <table class="table table-borderless">
                            <tbody>
                                {% for key,value in plan.conditions %}
                                   {% if storeHash == 'DTMasterCarbon99fa' %}
                                    <tr>
                                      {% if plan.conditions.commission_value_type is defined  and  plan.conditions.commission_value_type == 'percentage'%}
                                            <td class="text-left">{{ key|trans }}</td>
                                            <td class="text-right">{{ value|trans }} {% if key == "commission" %}%{% endif %}</td>
                                      {% else %}
                                         <td class="text-left">{{ key|trans }}</td>
                                         {% if key == "commission" %}<td class="text-right">{{ sadmin_currency.symbol ~ ' ' ~ value|trans }} </td> {% else %}<td class="text-right">{{  value|trans }} </td>{% endif %}
                                      {% endif %}
                                    </tr>
                                   {% else %}
                                     <tr>
                                        <td class="text-left">{{ key|trans }}</td>
                                        <td class="text-right">{{ value|trans }} {% if key == "commission" %}%{% endif %}</td>
                                     </tr>
                                   {% endif %}
                                {% endfor %}
                                {# <tr>
                                    <td class="text-left">{{ 'best_choice'|trans }}</td>
                                    <td class="text-right">{% if plan.bestChoice == 'Y' %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</td>
                                </tr> #}
                            </tbody>
                        </table>
                    </p>
                </div>
                <div class="card-footer bg-default text-center">
                    {% if current_plan and current_plan.id == plan.id %}
                        <div class="text-center text-success profile-plan-list-buy-now"><b>{{ 'current_plan'|trans }}</b><br></div>
                        <div class="text-center">
                            <small>{{ "expire_on"|trans }}: 
                                {% if company.timezone is defined and company.timezone is not empty %}
                                    {{ expiry_date|date("d-m-y h:i A",company.timezone) }}
                                {% else %}
                                    {{ expiry_date|date("d-m-y h:i A") }}
                                {% endif %}
                            </small>
                        </div>
                    {% else %}
                        {% if area == 'mp-wix-seller' %}
                            <a href="{{ path('wixmp_seller_seller_buy_plan',{storeHash:storeHash,plan_id:plan.id,seller_id:seller.id}) }}" class="btn btn-primary profile-plan-list-buy-now"><b>{{ 'buy_now'|trans }}</b></a>
                        {% else %}
                            <a href="{{ path('wixmp_seller_buy_plan',{storeHash:storeHash,plan_id:plan.id,seller_id:seller.id}) }}" class="btn btn-primary profile-plan-list-buy-now"><b>{{ 'assign'|trans }}</b></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if row_change == '0' %}
            </div>
        {% elseif plan_list|length == key+1  %}
            </div>
        {% endif %}
    {% endif %}    
{% else %}
<div class="text-danger text-center">{{ 'records_not_found'|trans }}</div>
{% endfor %}