<div>
    <div>
        <strong>
            {{company.name}}
        </strong>    
    </div>
    <div>
        {{company.address}}
    </div>
    <div>
        {{company.address2}}
    </div>
    <div>
        {{company.city}} {% if company.city %},{% endif %} {{company.zipcode}}
    </div>
    <div>
        {{company.state}}{% if company.state and company.country %}/{% endif %}{{company.country}} 
    </div>
</div>
<hr/>

{{ "hello"|trans }}, {{ seller.seller }}

<p>{{ "your_seller_account_updated_successfully"|trans }}</p>
<p><b>{{ 'SELLER_APPLICATION_INFORMATION'|trans }}</b></p>
<hr>
<div>
<table>
    <tbody>
        <tr><th>{{ 'seller'|trans }}:</th><td>{{ seller.seller }}</td></tr>
        <tr><th style="text-align:left">{{ 'email'|trans }}:</th><td>{{ seller.email }}</td></tr>
        <tr><th>{{ 'phone'|trans }}:</th><td>{{ seller.phone }}</td></tr>
        <tr><th>{{ 'status'|trans }}:</th><td>{% if seller.status == 'A' %}{{ 'active'|trans }}{% else %}{{ 'disabled'|trans }}{% endif %}</td></tr>
    </tbody>
</table>
</div>