{% for category_data in categoryTree %}
        <table class="table table-hover category_table">
            <tbody>
                <tr width="100%">
                    {% if level is not defined %}
                        {% set level = 0 %}
                    {% endif %}
                    <td width="50%">
                        <div style="padding-left:{{ level }}px;" {% if category_data.children is defined and category_data.children is not empty %} class="hasChild" data-toggle="category_treeview" data-child-category="wkcategory_child_{{category_data._collectionId}}"{% endif %}>
                            {% if category_data.children is defined and category_data.children is not empty %}<i class="treeview-indicator fa fa-angle-right"></i> {% endif %}<span class="">{{category_data.name}}</span>
                        <div>
                    </td>
                    {# <td width="10%">{% if category_data.is_visible %} {{ "active"|trans }} {% else %} {{ "disabled"|trans }} {% endif %}</td> #}
                </tr>
            </tbody>
        </table>
        {% if category_data.children is defined and category_data.children is not empty %}
            <div class="category-child-con" id="wkcategory_child_{{category_data.id}}">
                <div>
                    {% include app_path_prefix ~ '/view_templates/catalog/components/_category_list_simple.html.twig'  with {app_path_prefix:app_path_prefix, controller_prefix:controller_prefix, categoryTree: category_data.children, level: level + 20} %}
                </div>
            </div>
        {% endif %}
{% endfor %}
