<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h5 class="title">
                    {% include 'common/list_items.html.twig' %}
                </h5>
                <div class="btn-group">
                    <span class="btn btn-secondary icon-btn wk-pointer wk-filter" title="{{ 'filter'|trans }}"><i class="fa fa-filter"></i></span>
                </div>
            </div>
            <div class="tile-body">
                <section class="transaction">
                    <div class="row">
                        <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>{{ 'id'|trans }}</th>        
                                            <th>{{ "batch_id"|trans }}</th>
                                            <th>{{ 'payment_status'|trans }}</th>
                                            <th>{{ 'transaction_id'|trans }}</th>
                                            <th>{{ 'amount'|trans }}</th>
                                            <th>{{ 'date'|trans }}</th>
                                            <th>{{ 'updated_at'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in transactions %}
                                            
                                            <tr>
                                                <td>
                                                    #{{ order.id }}</a>
                                                </td>           
                                                <td>
                                                    {{ order.batchId|default('-') }}
                                                </td>
                                                <td>
                                                    {{ order.status }}
                                                </td>
                                                <td>
                                                    {{ order.transactionId }}
                                                </td>
                                                <td>{{ order.amount|wk_price('app', storeHash)|raw }}</td>
                                                <td>{{ order.createdAt|wk_time }}</td>
                                                <td>{{ order.updatedAt|wk_time }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="8" class="text-center text-danger">{{ "no_records_found"|trans }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="navigation">
                                    {{ knp_pagination_render(transactions) }}
                                </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{# filter modal  #}
{% include 'common/filter.html.twig' with {
    include_path : '@wixmp_twig/view_templates/seller/components/payout_transaction.html.twig',
    search: search
} %}