<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h5 class="title">{{ 'dev_info'|trans }}</h5>
                <div class="btn-group"></div>
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th  width="180px">
                                <span style = "margin-right: 20px"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                <a target = "_blank" href="mailto:support@webkul.com"> support@webkul.com</a>
                            </th>
                        </tr>
                        <tr>
                            <th  width="180px">
                                <span style = "margin-right: 20px"><i class="fa fa-globe" aria-hidden="true"></i></span>
                                <a target = "_blank" href="https://www.webkul.com"> https://www.webkul.com</a>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-md-6">
        <div class="tile">
            <div class="tile-title-w-btn">
                {# <center><h5 class="title">{{ 'for_contact'|trans }}</h5></center> #}
                <div class="btn-group"></div>
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th  width="180px" style = "text-align:center">
                                <br>
                                <div style = "">{{ 'need_help'|trans }}</div><br>
                                <div>
                                    <a target = "_blank"  data-toggle="modal" data-target="#needHelpModalCenter"><button class = "btn btn-primary icon-btn wk-pointer" style = "border-radius: 16px; width: 124px">{{ 'contact'|trans }}</button></a>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-md-6">
        <div class="tile">
            <div class="tile-title-w-btn">
                {# <h5 class="title">{{ 'app_review'|trans }}</h5> #}
                <div class="btn-group"></div>
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th  width="180px" style = "text-align:center">
                                <div style = "">{{ 'enjoying_app'|trans }}</div>
                                <div style = "">{{ 'leave_review'|trans }}</div><br>
                                <div>
                                    <a href="https://www.wix.com/app-market/add-review/fbdbb824-6c77-4f71-a38d-08a1d45c6c21"><button class = "btn btn-primary icon-btn wk-pointer" style = "border-radius: 16px; width: 124px">{{ 'review_us'|trans }}</button></a>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>