{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h5 class="title"></h5>
                <div class="btn-group"></div>
            </div>
            <div class="tile-body">
                <div class="" >
                    <div id="Sync">
                        <div class="wix-etsy-setting-fields">
                            <label for="custom_form_refresh_order">{{ 'sync_etsy_shops'|trans }}
                                <i class="fa fa-info-circle general-setting-tooltip" title="{{ 'sync_etsy_shops_in_app'|trans }}"></i>
                            </label>
                            <a class="btn btn-success" title="{{ 'sync'|trans }}" href="{{ path('wixetsy_setting_sync_data', {storeHash:company.storeHash, 'object': 'etsy_shops'}) }}"><i class="app-menu__icon fa fa-refresh"></i></a>
                        </div>
                        <div class="wix-etsy-setting-fields">
                            
                            <div class = "row">
                                <div class = "col-md-3">
                                    {{ form_label(form.shop,'select_etsy_shop'|trans,{label_attr:{class:'wk-required'}}) }}
                                    <i class="fa fa-info-circle general-setting-tooltip" title="{{ 'select_etsy_shop_tooltip'|trans }}"></i>
                                </div>
                                <div class = "col-md-6">
                                    <select class="form-control wk-input" name = "setting[shop]">
                                        <option value = "">{{ 'select_etsy_shop'|trans }}</option>
                                        {% for key,value in etsyShops %}
                                            <option value = {{ key }} {% if selectedData['shop'] is defined and key == selectedData['shop'] %} selected = "selected" {% endif %}> {{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {# <div class = "col-md-2">
                                    <a class = "wk-pointer btn btn-success" href = "{{ url('wixetsy_setting_shop_sync', {'storeHash': company.storeHash, 'entity' : 'shops' }) }}">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                </div> #}
                            </div>
                        </div>
                        <div class="wix-etsy-setting-fields">
                            <label for="custom_form_refresh_pro">{{ 'sync_etsy_shipping_profiles'|trans }}
                                <i class="fa fa-info-circle general-setting-tooltip" title="{{ 'sync_etsy_shipping_profiles_in_app'|trans }}"></i>
                            </label>
                            <a class="btn btn-success" title="{{ 'sync'|trans }}" href="{{ path('wixetsy_setting_sync_data', {storeHash:company.storeHash, 'object': 'etsy_shipping_profiles'}) }}" ><i class="app-menu__icon fa fa-refresh"></i></a>
                        </div>
                        <div class="wix-etsy-setting-fields">
                            <label for="custom_form_refresh_order">{{ 'sync_wix_categories'|trans }}
                                <i class="fa fa-info-circle general-setting-tooltip" title="{{ 'sync_wix_categories_in_app'|trans }}"></i>
                            </label>
                            <a class="btn btn-success" title="{{ 'sync'|trans }}" href="{{ path('wixetsy_setting_sync_data', {storeHash:company.storeHash, 'object': 'wix_categories'}) }}"><i class="app-menu__icon fa fa-refresh"></i></a>
                        </div>
                        <div class="wix-etsy-setting-fields">
                            <label for="custom_form_refresh_pro">{{ 'sync_etsy_categories'|trans }}
                                <i class="fa fa-info-circle general-setting-tooltip" title="{{ 'sync_etsy_categories_in_app'|trans }}"></i>
                            </label>
                            <a class="btn btn-success" title="{{ 'sync'|trans }}" href="{{ path('wixetsy_setting_sync_data', {storeHash:company.storeHash, 'object': 'etsy_categories'}) }}" ><i class="app-menu__icon fa fa-refresh"></i></a>
                        </div>
                        {# <div class="mc_settings_fields">
                            <label for="custom_form_refresh_pro">{{ 'refresh_customer_sync'|trans }}</label>
                            <a class="btn btn-danger" title="{{ 'sync'|trans }}" href="{{ path('mcshopify_refresh_sync', {storeHash:storeHash, 'object': 'customer'}) }}" ><i class="app-menu__icon fa fa-refresh"></i></a>
                        </div> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}